<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.adminpage.AdminpageDao">
	<!-- HOST 권한을 요청한 USER들을 출력한다 -->
	<select id="getHostApprovalStandbyList" resultType="com.proj.yollowa.model.entity.UserVo">
		<![CDATA[
		SELECT * FROM USER 
		WHERE USER_LEVEL < 10 AND USER_COMPANYNUMBER IS NOT NULL;
		]]>
	</select>
	<!-- HOST 권한을 요청한 USER들에게 권한을 부여한다 -->
	<update id="updateUserLevelToHost">
		<![CDATA[
		UPDATE USER SET USER_LEVEL = 10 WHERE (USER_NUMBER = #{user_number});
		]]>
	</update>
	
	<!-- 승인이 필요한 ACTIVITY 항목을 출력한다 -->
	<select id="getActivityApprovalStandbyList" resultType="com.proj.yollowa.model.entity.admin.ActivityApprovalVo">
		<![CDATA[
		SELECT ACTIVITY_NUMBER, ACTIVITY_TITLE, ACTIVITY_IMG, ACTIVITY_TEMP, USER_COMPANYNAME 
		FROM ACTIVITY, USER 
		WHERE ACTIVITY_USERNUMBER = USER_NUMBER AND ACTIVITY_TEMP !=1;
		]]>
	</select>
	<!-- ACTIVITY 테이블의 ACTIVITY_TEMP 값을 1로 UPDATE한다 -->
	<update id="updateActivityTempToApproved">
		<![CDATA[
		UPDATE ACTIVITY SET activity_temp = 1 WHERE (ACTIVITY_NUMBER = #{activity_number});
		]]>
	</update>
	
	<!-- MANAGER -->
	
</mapper>
