<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.proj.yollowa.model.host.HostDao">
	
	<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<!-- 호스트 숙박 start ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<!-- host/ start -->
	
	<select id="userDetail" resultType="com.proj.yollowa.model.entity.UserVo">
		select * from user where user_number=#{user_number}
	</select>
	<select id="selectHostLodgementList" resultType="com.proj.yollowa.model.entity.host.LodgementVo">
		select * from lodgement where lodgement_userNumber = #{user_number}
	</select>
	<insert id="updateHostLodgement" parameterType="com.proj.yollowa.model.entity.host.LodgementUpdatePageDto">
		update lodgement set lodgement_img = #{lodgement.lodgement_img}, lodgement_hashTag = #{lodgement.lodgement_hashTag} where lodgement_number = #{lodgement_number}
	</insert>
	<delete id="deleteHostLodgement">
		delete from lodgement where lodgement_number = #{lodgement_number}
	</delete>
	<delete id="deleteHostLodgeRoom">
		delete from roomInfo where roomInfo_articleNumber = #{lodgement_number}
	</delete>
	<!-- host/ end -->
	
	<!--host/ladd start -->
	<insert id="insertLodgement" parameterType="com.proj.yollowa.model.entity.host.LodgementVo">
		insert into lodgement (lodgement_userNumber, lodgement_companyName, lodgement_location, lodgement_LatLng, lodgement_category, lodgement_hashTag) values 
							  (#{lodgement_userNumber}, #{lodgement.lodgement_companyName}, #{lodgement.lodgement_location}, #{lodgement.lodgement_LatLng}, #{lodgement.lodgement_category}, #{lodgement.lodgement_hashTag})
	</insert>
	<select id="selectLodgementNum" resultType="int">
		select lodgement_number from lodgement where lodgement_userNumber=#{lodgement_userNumber} and lodgement_companyName=#{lodgement.lodgement_companyName} and lodgement_location=#{lodgement.lodgement_location}
	</select>
	<insert id="insertLodgeInfo">
		insert into information (information_number, information_type, information_notice, information_basicInfo, information_comment, information_addPeopleInfo, information_service, information_refundInfo) values
								(#{information_number}, 2, #{information.information_notice}, #{information.information_basicInfo}, #{information.information_comment}, #{information.information_addPeopleInfo}, #{information.information_service}, #{information.information_refundInfo})
	</insert>
	<insert id="updateLodgementImg">
		update lodgement set lodgement_img = #{lodgement_img} where lodgement_number = #{lodgeNumber}
	</insert>
	<!-- host/ladd end -->
	
	<!-- host/lodgeRoom start -->
	<select id="selectLodgementName" resultType="String">
		select lodgement_companyName from lodgement where lodgement_number = #{lodgement_number}
	</select>
	<select id="selectLodgementRooms" resultType="com.proj.yollowa.model.entity.host.RoomInfoVo">
		select * from roomInfo where roomInfo_articleNumber = #{lodgement_number}
	</select>
	<delete id="deleteRoom">
		delete from roomInfo where roomInfo_articleNumber = #{articleNumber} and roomInfo_roomNumber = #{roomNumber}
	</delete>
	<!-- host/lodgeRoom end -->
	
	
	<!-- host/addRoom start -->
	<select id="hostNumberMatch" resultType="com.proj.yollowa.model.entity.host.LodgementVo">
		select lodgement_number from lodgement where lodgement_userNumber=#{user_number}
	</select> 
	
	<!-- host/addRoom end -->
	
	<!-- host/addRoom/addAction start -->
	<insert id="insertLodgementRoom">
		insert into roomInfo 
		(roomInfo_articleNumber, roomInfo_name, roomInfo_peakPrice, roomInfo_offPeakPrice, roomInfo_peakStartDate, roomInfo_peakEndDate
		, roomInfo_minPeople, roomInfo_maxPeople, roomInfo_extraPrice) 
		values (#{bean.roomInfo_articleNumber}, #{bean.roomInfo_name}, #{bean.roomInfo_peakPrice}, #{bean.roomInfo_offPeakPrice}
		, #{bean.roomInfo_peakStartDate}, #{bean.roomInfo_peakEndDate}, #{bean.roomInfo_minPeople}, #{bean.roomInfo_maxPeople}, #{bean.roomInfo_extraPrice}) 
	</insert> 
	<select id="selectRoomInfo_RoomNumber" resultType="int">
		select roomInfo_roomNumber from roomInfo where roomInfo_articleNumber=#{articleNumber} and roomInfo_name=#{roomName}
	</select>
	<insert id="updateRoomInfoImg">
		update roomInfo set roomInfo_img = #{roomInfo_img} where roomInfo_articleNumber = #{articleNumber} and roomInfo_roomNumber = #{roomNumber}
	</insert>
	<!-- host/addRoom/addAction end -->
	
	<!-- 호스트 숙박 end ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	
	<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- 호스트 액티비티 start ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<insert id="insertActivity">
		insert into activity (activity_userNumber, activity_title, activity_location, activity_LatLng,  activity_category, activity_hashTag) 
		values (#{activity_userNumber}, #{activity.activity_title}, #{activity.activity_location}, #{activity.activity_LatLng}, #{activity.activity_category}, #{activity.activity_hashTag})
	</insert>
	<select id="selectActivityNum" resultType="int">
		select activity_number from activity where activity_userNumber = #{activity_userNumber} and activity_location = #{activity.activity_location} and activity_title = #{activity.activity_title}
	</select>
	<insert id="updateActivityImg">
		update activity set activity_img = #{activity_img} where activity_number = #{activityNumber}
	</insert>
	<insert id="insertActivityInfo">
		insert into information (information_number, information_type, information_notice, information_basicInfo, information_comment, information_addPeopleInfo, information_service, information_refundInfo) values
		(#{activityNumber}, 1, #{information.information_notice}, #{information.information_basicInfo}, #{information.information_comment}, #{information.information_addPeopleInfo}, #{information.information_service}, #{information.information_refundInfo})
	</insert>
	
	<!-- host/activity -->
	<select id="selectHostActivityList" resultType="com.proj.yollowa.model.entity.host.ActivityVo">
		select * from activity where activity_userNumber = #{user_number}
	</select>
	
	<!-- host/activityUpdate -->
	<insert id="updateHostActivity" parameterType="com.proj.yollowa.model.entity.host.ActivityUpdatePageDto">
		update activity set activity_img = #{bean.activity_img }, activity_hashTag = #{bean.activity_hashTag} where activity_number = #{activityNumber }
	</insert>
	
	
	

	<!-- 호스트 액티비티 start ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	
</mapper>