<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.proj.yollowa.model.lodgement.LodgementDao">
	
	<!-- 숙박 리스트 -->
	<select id="lodgementListAll" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1
	</select>
	
	<!-- 숙박 temp=1인 리스트 개수 -->
	<select id="lodgementListCnt" resultType="Integer">
		select count(*) from lodgement where lodgement_temp=1
	</select>
	
	<!-- 숙박글 캐러셀 img select -->
	<select id="lodgementImgSelect" resultType="String">
		select lodgement_img from lodgement where lodgement_number = #{number}
	</select>
	
	<!-- 숙박 디테일,방정보 옵션 -->
	<select id="lodgementDetail" resultType="com.proj.yollowa.model.entity.lodgement.LodgementDetailPageDto">
		select * from lodgement as L join roominfo as R on L.lodgement_number=R.roomInfo_articleNumber where L.lodgement_number = #{articleNumber};
	</select>
	
	<select id="priceSelect" resultType="com.proj.yollowa.model.entity.lodgement.LodgementRoomInfoVo">
		select roomInfo_roomNumber, roomInfo_name ,roomInfo_offPeakPrice from roomInfo where roomInfo_articleNumber = #{lodgementNumber}
	</select>
	
	
	<!-- list page filter 관련도 순 -->
	<!-- 전체 -->
	<select id="selectOptionAll" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1
	</select>
	<!-- 후기순 -->
	<select id="selectOptionReviewCount" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1 order by lodgement_reviewCount desc
	</select>	
	<!-- 별점순 -->
	<select id="selectOptionReviewRate" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1 order by lodgement_reviewGradeRate desc
	</select>

	<!-- 최신순 -->
	<select id="selectOptionLodgementNumber" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1 order by lodgement_number desc
	</select>
	<!-- list page filter 관련도 순 end -->
	
	<!-- lodgementSearch  -->
	<select id="lodgementSearch" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1 
	<if test="#{search}!=''">
		and lodgement_companyName like CONCAT('%',#{search},'%')
	</if>
	</select>
	
	<!-- 숙박 디테일 기본정보 -->
	<select id="lodgementInfo" resultType="com.proj.yollowa.model.entity.lodgement.InformationVo">
		select * from information where information_number = #{number} and information_type=#{type}
	</select>
	
	<!-- 숙박 예약 페이지  -->
	<select id="lodgementReserInfo" resultType="com.proj.yollowa.model.entity.lodgement.LodgementRoomInfoVo">
		select * from roominfo where roomInfo_articleNumber=#{articleNumber} and roomInfo_roomNumber=#{roomNumber}
	</select>
	
	<!-- 장바구니 -->
	<select id="roomPeakStartDateSelect" resultType="Date">
		select roomInfo_peakStartDate from roomInfo where roomInfo_roomNumber = #{roomNumber}
	</select>
	<select id="roomPeakEndDateSelect" resultType="Date">
		select roomInfo_peakEndDate from roomInfo where roomInfo_roomNumber = #{roomNumber}
	</select>
	<select id="selectPeakPayment" resultType="int">
		select roomInfo_peakPrice from roomInfo where roomInfo_roomNumber = #{roomNumber}
	</select>
	<select id="selectOffPeakPayment" resultType="int">
		select roomInfo_offPeakPrice from roomInfo where roomInfo_roomNumber = #{roomNumber}
	</select>
	<insert id="lodgementCartInsert">
		insert into LReservInfo 
		(LReservInfo_userNumber, LReservInfo_acticleNumber, LReservInfo_roomNumber, LReservInfo_checkIn, LReservInfo_checkOut,
		LReservInfo_phoneNumber, LReservInfo_reservDate, LReservInfo_payment, LReservInfo_reservStatus, LReservInfo_cartStatus)
		values (#{userVo.user_number}, #{articleNumber}, #{roomNumber}, #{startDate}, #{endDate}, #{userVo.user_phoneNumber}, now(), #{payment}, 0, 1)
	</insert>
	
	<!-- 찜목록 -->
	<select id="lodgementUserWishSelect" resultType="String">
		select user_lWishList from user where user_number = #{uesrNumber}
	</select>
	<insert id="notExistWishUpdate">
		update user set user_lWishList = #{lodgementNumber} where user_number = #{userNumber}
	</insert>
	<insert id="afterWishUpdate">
		update user set user_lWishList = #{afterWish} where user_number = #{userNumber}
	</insert>
	
	<!-- 지역 필터 -->
	<select id="selectLocationFilterOne" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement where lodgement_temp=1 and lodgement_location like CONCAT('%',#{locationFilter},'%')
	</select>
	<select id="selectLocationFilterOneCnt" resultType="int">
		select count(*) from lodgement where lodgement_temp=1 and lodgement_location like CONCAT('%',#{locationFilter},'%')
	</select>
	
</mapper>