<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.proj.yollowa.model.user.UserDao">
		<select id="login" resultType="com.proj.yollowa.model.entity.UserVo">
			select * from user where user_id=#{user_id} and user_password=#{user_password}
		</select>
		<select id="selectAll" resultType="com.proj.yollowa.model.entity.UserVo">
			select * from user
		</select>
		<select id="getKakaoId" resultType="java.lang.String">
			select user_kakaoId from user
		</select>
		<select id="getNaverId" resultType="java.lang.String">
			select user_naverId from user
		</select>
		<select id="getKakaoUserInfo" resultType="com.proj.yollowa.model.entity.UserVo">
			select * from user where user_kakaoId=#{user_kakaoId}
		</select>
		<select id="getNaverUserInfo" resultType="com.proj.yollowa.model.entity.UserVo">
			select * from user where user_naverId=#{user_naverId}
		</select>
		<select id="getUserId" resultType="java.lang.String">
			select user_id from user
		</select>
		<select id="getUserNickName" resultType="java.lang.String">
			select user_nickName from user
		</select>
		<insert id="insertUser" parameterType="com.proj.yollowa.model.entity.UserVo">
			INSERT INTO user (user_nickName, user_name, user_gender, user_birthday, user_phoneNumber, user_address, user_id, user_password, user_email, user_likes)
			VALUES (#{user.user_nickName}, #{user.user_name}, #{user.user_gender}, #{user.user_birthday}, #{user.user_phoneNumber}, #{user.user_address}, #{user.user_id}, #{user.user_password}, #{user.user_email}, #{user.user_likes})
		</insert>
  </mapper>