<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.proj.yollowa.model.user.ManagerDao">
		<select id="login" resultType="com.proj.yollowa.model.entity.ManagerVo">
			select * from manager where manager_id=#{manager_id} and manager_password=#{manager_password}
		</select>
  </mapper>