<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.mypage.MypageDao">
	<select id="userDetail" resultType="com.proj.yollowa.model.entity.UserVo">
		select * from user where user_number=#{user_number}
	</select>
	<!--select * from lreservinfo where LReservInfo_userNumber=24 and LReservInfo_acticleNumber=1 and LReservInfo_cartStatus=0 and LReservInfo_reservStatus=1 and date(LReservInfo_checkIn)<date(now()) and date(LReservInfo_checkOut)<=date(now()); 
	이용내역-->
	<!--select * from lreservinfo where LReservInfo_userNumber=24 and LReservInfo_acticleNumber=1 and LReservInfo_cartStatus=0 and LReservInfo_reservStatus=1 and date(LReservInfo_checkIn)>=date(now()) and date(LReservInfo_checkOut)>date(now());
	예약현황-->
	
	<!--SELECT * FROM LRESERVINFO WHERE LRESERVINFO_USERNUMBER=24 AND LRESERVINFO_RESERVSTATUS=0 AND LRESERVINFO_CARTSTATUS=1 and date(LReservInfo_checkIn)>=date(now()) and date(lreservinfo_checkOut)>date(now()); 장바구니-->
	<select id="lReservationInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoVo">
		<![CDATA[
		SELECT LRESERVINFO_NUMBER,LRESERVINFO_USERNUMBER,LRESERVINFO_ACTICLENUMBER,LRESERVINFO_ROOMNUMBER,LRESERVINFO_CHECKIN,LRESERVINFO_CHECKOUT,LRESERVINFO_PHONENUMBER,LRESERVINFO_RESERVDATE,LRESERVINFO_PAYMENT,LRESERVINFO_RESERVSTATUS,LRESERVINFO_CARTSTATUS
		FROM LRESERVINFO AS LI JOIN LODGEMENT AS LG ON(LI.LRESERVINFO_ACTICLENUMBER = LG.LODGEMENT_NUMBER) 
		WHERE LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LRESERVINFO_CARTSTATUS=0
		AND LRESERVINFO_RESERVSTATUS=1
		AND DATE(LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LRESERVINFO_CHECKOUT)>DATE(NOW())
		]]>
	</select>
	<select id="lUserCompletedInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoVo">
		<![CDATA[
		SELECT LRESERVINFO_NUMBER,LRESERVINFO_USERNUMBER,LRESERVINFO_ACTICLENUMBER,LRESERVINFO_ROOMNUMBER,LRESERVINFO_CHECKIN,LRESERVINFO_CHECKOUT,LRESERVINFO_PHONENUMBER,LRESERVINFO_RESERVDATE,LRESERVINFO_PAYMENT,LRESERVINFO_RESERVSTATUS,LRESERVINFO_CARTSTATUS
		FROM LRESERVINFO AS LI JOIN LODGEMENT AS LG ON(LI.LRESERVINFO_ACTICLENUMBER = LG.LODGEMENT_NUMBER) 
		WHERE LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LRESERVINFO_CARTSTATUS=0
		AND LRESERVINFO_RESERVSTATUS=1
		AND DATE(LRESERVINFO_CHECKIN)<DATE(NOW()) 
		AND DATE(LRESERVINFO_CHECKOUT)<=DATE(NOW())
		]]>
	</select>
	<select id="lUserCartInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoVo">
		SELECT LRESERVINFO_NUMBER,LRESERVINFO_USERNUMBER,LRESERVINFO_ACTICLENUMBER,LRESERVINFO_ROOMNUMBER,LRESERVINFO_CHECKIN,LRESERVINFO_CHECKOUT,LRESERVINFO_PHONENUMBER,LRESERVINFO_RESERVDATE,LRESERVINFO_PAYMENT,LRESERVINFO_RESERVSTATUS,LRESERVINFO_CARTSTATUS
		FROM LRESERVINFO AS LI JOIN LODGEMENT AS LG ON(LI.LRESERVINFO_ACTICLENUMBER = LG.LODGEMENT_NUMBER) 
		WHERE LRESERVINFO_USERNUMBER=#{USER_NUMBER} 
		AND LRESERVINFO_RESERVSTATUS=0 
		AND LRESERVINFO_CARTSTATUS=1 
		AND DATE(LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LRESERVINFO_CHECKOUT)>DATE(NOW())
	</select>
</mapper>
