<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.mypage.MypageDao">
	<select id="userDetail" resultType="com.proj.yollowa.model.entity.UserVo">
		select * from user where user_number=#{user_number}
	</select>
	<select id="getAreservationInfo" resultType="com.proj.yollowa.model.entity.mypage.AReservInfoDto">
		<![CDATA[
		select * from areservinfo as ai join activity as a join activityoption as ao
		on(ai.areservinfo_articleNumber=a.activity_number and ai.AReservinfo_optionNumber=ao.activityOption_optionNumber)
		where ai.areservinfo_reservStatus=1
		and ai.AReservInfo_cartStatus=0
		and DATE(now())<=DATE(ai.areservInfo_checkOut)
		and ai.AReservInfo_userNumber=#{user_number}
		]]>
	</select>
	<select id="getOverHistory" resultType="com.proj.yollowa.model.entity.mypage.AReservInfoDto">
		<![CDATA[
		select * from areservinfo as ai join activity as a join activityoption as ao
		on(ai.areservinfo_articleNumber=a.activity_number and ai.AReservinfo_optionNumber=ao.activityOption_optionNumber)
		where ai.areservinfo_reservStatus=1
		and ai.AReservInfo_cartStatus=0
		and DATE(now())>DATE(ai.areservInfo_checkOut)
		and ai.AReservInfo_userNumber=#{user_number}
		]]>
	</select>
	<select id="getAuserCartInfo" resultType="com.proj.yollowa.model.entity.mypage.AReservInfoDto">
		<![CDATA[
		select * from areservinfo as ai join activity as a join activityoption as ao
		on(ai.areservinfo_articleNumber=a.activity_number and ai.AReservinfo_optionNumber=ao.activityOption_optionNumber)
		where ai.areservinfo_reservStatus=0
		and ai.AReservInfo_cartStatus=1
		and DATE(now())<DATE(ai.areservInfo_checkOut)
		and ai.AReservInfo_userNumber=#{user_number};
		]]>
	</select>
	<select id="getLreservationInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		<![CDATA[
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LI.LRESERVINFO_CARTSTATUS=0
		AND LI.LRESERVINFO_RESERVSTATUS=1
		AND DATE(LI.LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LI.LRESERVINFO_CHECKOUT)>DATE(NOW())
		ORDER BY LI.LRESERVINFO_RESERVDATE DESC;
		]]>
	</select>
	
	<select id="getLuserCompletedInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		<![CDATA[
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LI.LRESERVINFO_CARTSTATUS=0
		AND LI.LRESERVINFO_RESERVSTATUS=1
		AND DATE(LI.LRESERVINFO_CHECKIN)<DATE(NOW()) 
		AND DATE(LI.LRESERVINFO_CHECKOUT)<=DATE(NOW())
		ORDER BY LI.LRESERVINFO_RESERVDATE DESC;
		]]>
	</select>
	
	<select id="getLuserCartInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		<![CDATA[
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LI.LRESERVINFO_RESERVSTATUS=0 
		AND LI.LRESERVINFO_CARTSTATUS=1 
		AND DATE(LI.LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LI.LRESERVINFO_CHECKOUT)>DATE(NOW())
		ORDER BY LI.LRESERVINFO_RESERVDATE DESC;	
		]]>
	</select>
	
	<select id="getUserWishList" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		SELECT *
		FROM LODGEMENT
		WHERE LODGEMENT_NUMBER=#{USER_WISHLIST}
	</select>
	<select id="getAwishList" resultType="com.proj.yollowa.model.entity.activity.ActivityVo">
		select * from activity
		where activity_number=#{activity_number}
	</select>
	<select id="getLwishList" resultType="com.proj.yollowa.model.entity.lodgement.LodgementVo">
		select * from lodgement
		where lodgement_number=#{lodgement_number}
	</select>
	<select id="getLReviewInfo" resultType="com.proj.yollowa.model.entity.mypage.LReviewDto">
		SELECT * FROM LRESERVINFO AS LI JOIN LODGEMENT AS L JOIN ROOMINFO AS RI ON(LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER AND LI.LRESERVINFO_ACTICLENUMBER=RI.ROOMINFO_ARTICLENUMBER)
		WHERE LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER
		AND LI.LRESERVINFO_NUMBER=#{LRESERVINFO_NUMBER}
	</select>
	<select id="getAReviewInfo" resultType="com.proj.yollowa.model.entity.mypage.AReservInfoDto">
		select * from areservinfo as ai join activity as a join activityoption as ao
		on(ai.areservinfo_articleNumber=a.activity_number and ai.AReservinfo_optionNumber=ao.activityOption_optionNumber)
		where ai.AReservInfo_number=#{ARESERVINFO_NUMBER}
	</select>
	<insert id="insertReview" parameterType="com.proj.yollowa.model.entity.ReviewVo">
		INSERT INTO review (review_articleNumber, review_title, review_userNumber, review_reservNumber, review_category, review_starPoint, review_writedDate, review_content, review_writer)
		 VALUES (#{review.review_articleNumber}, #{review.review_title}, #{user_Number}, #{review.review_reservNumber}, #{review.review_category}, #{review.review_starPoint}, now(), #{review.review_content}, #{review.review_writer});
	</insert>
	<select id="getLReviewCount" resultType="int">
		select count(*) from review where review_articleNumber=#{review_articleNumber} and review_category=2;
	</select>
	<select id="getAReviewCount" resultType="int">
		select count(*) from review where review_articleNumber=#{review_articleNumber} and review_category=1;
	</select>
	<select id="getLStarPoint" resultType="int">
		select review_starPoint from review where review_articleNumber=#{review_articleNumber} and review_category=2;
	</select>
	<select id="getAStarPoint" resultType="int">
		select review_starPoint from review where review_articleNumber=#{review_articleNumber} and review_category=1;
	</select>
	<update id="updateLReviewInfo">
		UPDATE lodgement
		SET lodgement_reviewGradeRate =#{reviewGradeRate},
		lodgement_reviewCount =#{reviewCount} 
		WHERE lodgement_number = #{review_articleNumber}
	</update>
	<update id="updateAReviewInfo">
		UPDATE activity
		SET activity_reviewGradeRate =#{reviewGradeRate},
		activity_reviewCount =#{reviewCount} 
		WHERE activity_number = #{review_articleNumber}
	</update>
	<select id="getLExistReview" resultType="int">
		select count(*) from review
		where review_reservNumber=#{lreservInfo_number} and review_category=2
	</select>
	<select id="getAExistReview" resultType="int">
		select count(*) from review
		where review_reservNumber=#{areservInfo_number} and review_category=1;
	</select>
	
</mapper>
