<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.mypage.MypageDao">
	<select id="userDetail" resultType="com.proj.yollowa.model.entity.UserVo">
		select * from user where user_number=#{user_number}
	</select>
	<!--select * from lreservinfo where LReservInfo_userNumber=24 and LReservInfo_acticleNumber=1 and LReservInfo_cartStatus=0 and LReservInfo_reservStatus=1 and date(LReservInfo_checkIn)<date(now()) and date(LReservInfo_checkOut)<=date(now()); 
	이용내역-->
	<!--select * from lreservinfo where LReservInfo_userNumber=24 and LReservInfo_acticleNumber=1 and LReservInfo_cartStatus=0 and LReservInfo_reservStatus=1 and date(LReservInfo_checkIn)>=date(now()) and date(LReservInfo_checkOut)>date(now());
	예약현황-->
	
	<!--SELECT * FROM LRESERVINFO WHERE LRESERVINFO_USERNUMBER=24 AND LRESERVINFO_RESERVSTATUS=0 AND LRESERVINFO_CARTSTATUS=1 and date(LReservInfo_checkIn)>=date(now()) and date(lreservinfo_checkOut)>date(now()); 장바구니-->
	<select id="getLreservationInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		<![CDATA[
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LI.LRESERVINFO_CARTSTATUS=0
		AND LI.LRESERVINFO_RESERVSTATUS=1
		AND DATE(LI.LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LI.LRESERVINFO_CHECKOUT)>DATE(NOW())
		]]>
	</select>
	<select id="getLuserCompletedInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		<![CDATA[
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LI.LRESERVINFO_CARTSTATUS=0
		AND LI.LRESERVINFO_RESERVSTATUS=1
		AND DATE(LRESERVINFO_CHECKIN)<DATE(NOW()) 
		AND DATE(LRESERVINFO_CHECKOUT)<=DATE(NOW())
		]]>
	</select>
	<select id="getLuserCartInfo" resultType="com.proj.yollowa.model.entity.mypage.LReservInfoDto">
		SELECT *
		FROM ROOMINFO AS RI JOIN LRESERVINFO LI JOIN LODGEMENT AS L ON(LI.LRESERVINFO_ROOMNUMBER=RI.ROOMINFO_ROOMNUMBER AND LI.LRESERVINFO_ACTICLENUMBER=L.LODGEMENT_NUMBER)
		WHERE RI.ROOMINFO_ARTICLENUMBER=LI.LRESERVINFO_ACTICLENUMBER
		AND RI.ROOMINFO_ROOMNUMBER=LI.LRESERVINFO_ROOMNUMBER
        AND LI.LRESERVINFO_USERNUMBER=#{USER_NUMBER}
		AND LRESERVINFO_RESERVSTATUS=0 
		AND LRESERVINFO_CARTSTATUS=1 
		AND DATE(LRESERVINFO_CHECKIN)>=DATE(NOW()) 
		AND DATE(LRESERVINFO_CHECKOUT)>DATE(NOW())
	</select>
	<select id="getLarticleInfo" resultType="com.proj.yollowa.model.entity.host.LodgementVo">
		SELECT * 
		FROM LODGEMENT 
		WHERE LODGEMENT_NUMBER=#{LRESERVINFO_ACTICLENUMBER}
	</select>
</mapper>
