<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.mypage.MypageDaoJK">
	<!--사업자 권한 신청자를 승인 대기 중인 상태로 만든다  -->	
	<update id="updateToStandByHost">
	UPDATE USER 
	SET 
		USER_COMPANYNUMBER = #{user_companyNumber}, 
		USER_COMPANYNAME = #{user_companyName}, 
		USER_LEVEL = 9 
	WHERE (USER_NUMBER = #{user_number})
	</update>
	
	<!-- 사용자의 모든 리뷰 개수를 반환한다 -->
	<select id="getReviewCount" resultType="int">
		SELECT COUNT(REVIEW_USERNUMBER) FROM REVIEW WHERE REVIEW_WRITER = #{keyword}
	</select>
	
	<!-- 사용자가 작성한 리뷰에 대한 정보를 가져온다 -->
	<select id="getReviewList" resultType="com.proj.yollowa.model.entity.ReviewVo">
		SELECT * FROM REVIEW WHERE REVIEW_WRITER = #{keyword} ORDER BY REVIEW_WRITEDDATE DESC
	</select>
	
	<!-- 하나의 숙박 리뷰 정보와 리뷰 대상 업체 정보를 함께 가져온다 -->
	<select id="getLodgementReview" resultType="com.proj.yollowa.model.entity.mypage.LodgementReviewVo">
		SELECT * 
		FROM LODGEMENT, REVIEW 
		WHERE 
			REVIEW_ARTICLENUMBER = LODGEMENT_NUMBER AND 
			review_reviewNumber like #{reviewno}
	</select>
	<!-- 하나의 액티비티 리뷰 정보와 리뷰 대상 업체 정보를 함께 가져온다 -->
	<select id="getActivityReview" resultType="com.proj.yollowa.model.entity.mypage.ActivityReviewVo">
		SELECT * 
		FROM ACTIVITY, REVIEW 
		WHERE 
			REVIEW_ARTICLENUMBER = ACTIVITY_NUMBER AND 
			REVIEW_REVIEWNUMBER like #{reviewno};
	</select>
	
	<!-- 현재 사용되지 않음  -->
	<select id="getLodgementReviewList" resultType="com.proj.yollowa.model.entity.mypage.LodgementReviewVo">
		SELECT *  
		FROM 
			LODGEMENT, REVIEW 
		WHERE REVIEW_WRITER=#{keyword}
			AND REVIEW_CATEGORY = 1 
			AND REVIEW_ARTICLENUMBER = LODGEMENT_NUMBER
	</select>
	<select id="getActivityReviewList" resultType="com.proj.yollowa.model.entity.mypage.ActivityReviewVo">
		SELECT *  
		FROM 
			ACTIVITY, REVIEW 
		WHERE REVIEW_WRITER=#{keyword}
			AND REVIEW_CATEGORY = 2 
			AND REVIEW_ARTICLENUMBER = ACTIVITY_NUMBER
	</select>
	
	
</mapper>
