<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.yollowa.model.cs.NoticeDao">
	<select id="getNoticeList" resultType="com.proj.yollowa.model.entity.NoticeVo">
		<![CDATA[
		SELECT 
			NOTICENO, TITLE, WRITER, CONTENT, WRITEDDATE, CNT 
		FROM NOTICE 
		WHERE NOTICENO>0
		]]>
			<include refid="search" />
		<![CDATA[
		ORDER BY NOTICENO DESC, WRITEDDATE DESC 
		LIMIT #{pageStart}, #{perPageNum};
		]]>
	</select>
	<select id="getNotice" resultType="com.proj.yollowa.model.entity.NoticeVo">
		SELECT * FROM NOTICE WHERE NOTICENO=#{noticeno}
	</select>
	<select id="countNotice" resultType="int">
		SELECT COUNT(NOTICENO) FROM NOTICE
		WHERE NOTICENO>0
		<include refid="search" />
	</select>
	<delete id="deleteNotice">
		DELETE FROM NOTICE WHERE NOTICENO=#{noticeno}
	</delete>
	<insert id="insertNotice">
		INSERT INTO NOTICE (TITLE, WRITER, CONTENT) VALUES (#{title}, #{writer}, #{content})
	</insert>
	<update id="updateNotice">
		UPDATE NOTICE SET TITLE=#{title} , CONTENT=#{content} WHERE NOTICENO=#{noticeno}
	</update>
	
	<sql id="search">
		<if test="searchType != null and searchType != '' ">
			<if test="searchType == 'title'">
				AND TITLE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'content'">
				AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'writer'">
				AND writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'titleContent'">
				AND (
	                TITLE LIKE CONCAT('%', #{keyword}, '%')
	                OR CONTENT LIKE CONCAT('%', #{keyword}, '%')
           		)
			</if>
		</if>
	</sql>
</mapper>
